a {
  color: #000;
}
a:hover {
   color: #00F;
   text-decoration: none;
}

.main-img{
  display: block;
  margin: auto;
}

.footer{
  background-color: #343a40;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
  display: flex;
  justify-content: center;
}

#copyright{
  color:rgba(255, 255, 255, 0.5);
  align-self: flex-end;
}

.home-banner-1 {
  background-image: url("./img/home_banner.jpg");
  background-size: cover;
  background-position: center, center;
  padding-top: 60px;
  padding-bottom: 60px; 
}
.home-banner-2 {
  background-image: url("./img/flower_banner.jpg");
  background-repeat: no-repeat;
  background-position: center, center;
  min-height: 400px;
  padding-top: 50px;
}
.home-banner-3 {
  background-image: url("./img/story_banner.jpg");
  background-size: cover;
  background-position: center, center;
  min-height: 450px;
  padding-top: 50px;
}

.ButtonProduct1 {
  border: 1px solid red;
  left: 500px;
  top: 100px;
}
.ButtonProduct2 {
  border: 1px solid red;
  left: 100px;
  top: 100px;
}
.ButtonProduct3 {
  border: 1px solid red;
  left: 150px;
  top: 100px;
}
.ButtonProduct4 {
  border: 1px solid red;
  left: 200px;
  top: 100px;
}
.customerStory {
  /*background-image: */
  left: 1000px;
}
.mainRock1 {
  background-color: grey;
  /*border: 10px brown;*/
  color: whitesmoke;
  border-radius: 50%;
  font-size: larger;
}
.mainRock2 {
  background-color: grey;
  color: whitesmoke;
  border-radius: 50%;
  font-size: larger;
}
.mainRock3 {
  background-color: grey;
  color: whitesmoke;
  border-radius: 50%;
  font-size: larger;
}
.mainRock4 {
  background-color: grey;
  color: whitesmoke;
  border-radius: 50%;
  font-size: larger;
}
.subRock1 {
  background-color: white;
  color: burlywood;
  font-size: small;
  border: none;
}
.subRock2 {
  background-color: white;
  color: burlywood;
  font-size: small;
  border: none;
}
.subRock3 {
  background-color: white;
  color: burlywood;
  font-size: small;
  border: none;
}
.subRock4 {
  background-color: white;
  color: burlywood;
  font-size: small;
  border: none;
}
.subRock5 {
  background-color: white;
  color: burlywood;
  font-size: small;
  border: none;
}
.subRock6 {
  background-color: white;
  color: burlywood;
  font-size: small;
  border: none;
}

.card-container {
  padding-bottom: 10px;
}
.card-child {
  margin-top: 13px;
  margin-bottom: 12px;
}

.story-header{
  margin-bottom: 50px
}
