.home-banner-1 {
  background-image: url("https://via.placeholder.com/1000x500");
  background-size: cover;
  background-position: center, center;
  min-height: 450px;
}
.home-banner-2 {
  background-image: url("https://via.placeholder.com/1000x500");
  background-size: cover;
  background-position: center, center;
  min-height: 450px;
}
.home-banner-3 {
  background-image: url("https://via.placeholder.com/1000x500");
  background-size: cover;
  background-position: center, center;
  min-height: 450px;
}
