body {
  margin: 0;
  font-family: 'Noto Sans TC', Arial, sans-serif, -apple-system, BlinkMacSystemFont;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
